<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("test_logo.webp", class:"DCCA-icon"), "/" %>
    <h1 class = 'appname'><%= link_to "DCCA", "/" %></h1>
  </div>
  <div class='nav'>
    <ul class='lists-left'>    
 <% if user_signed_in? %> 
  <li><%= link_to current_user.nickname, "#",  class:"user-nickname" %></li>
  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"logout" %></li>
  <li><%= link_to "保護犬保護猫紹介", new_post_path, class: "prelusion" %></li>
 <% else %>
  <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
  <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
 <% end %>     
    </ul>
  </div>
</header>

