<%= render "shared/header" %>

  <div class='nav'>
    <ul class='lists-left'>    
      <% if user_signed_in? %> 
        <li><%= link_to current_user.nickname, user_path(current_user),  class:"user-nickname" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"logout" %></li>
        <li><%= link_to "保護犬保護猫紹介", new_post_path, class: "prelusion" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>     
    </ul>
  </div>

<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      保護犬、保護猫のアプリです！
    </h2>
    <h3 class='service-explain'>
      ※保護犬、保護猫紹介しています！
    </h3>
  </div>
</div>
  
<div class='post-contents'>
<h2 class='title'>保護犬、保護猫一覧</h2>
<ul class='post-lists'>
      <% @posts.each do |post| %>
      <li class='list'>
        <%= link_to post_path(post.id) do %>
        <div class='post-img-content'>
          <%= image_tag post.image, class: "post-img" %>
        </div>
        <div class='post-info'>
          <h3 class='post-name'>
          <%= post.name %>
          </h3>
        <% end %>
        <%= link_to user_path(post.user) do %>
          <div class='post-nickname'>
            <span>by<%= post.user.nickname %>さん<br></span>
          </div>
        <% end %>  
        </div>
      </li>
      <% end %>
</ul>
</div>