<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      保護犬、保護猫のサイトです！
    </h2>
    <h3 class='service-explain'>
      ※保護犬、保護猫紹介しています！
    </h3>
  </div>
</div>
  
<div class='post-contents'>
<h2 class='title'>保護犬、保護猫一覧</h2>
<ul class='post-lists'>
      <% @posts.each do |post| %>
      <li class='list'>
        <%= link_to root_path do %>
        <div class='post-img-content'>
          <%= image_tag post.image, class: "post-img" %>
        </div>
        <div class='post-info'>
          <h3 class='post-name'>
          <%= post.name %>
          </h3>
          <div class='post-nickname'>
            <span>by<%= post.user.nickname %>さん<br></span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
</ul>
</div>